# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.so
*.pyd
*.egg-info/
.eggs/
dist/
build/

# =========================
# Virtual environments
# =========================
.venv/
venv/
env/

# =========================
# uv
# =========================
# uv.lock

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
